<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MDSDComponentMetamodel -->
      <package
            uri="http://www.example.org/MDSDComponentMetamodel"
            class="MDSDComponentMetamodel.MDSDComponentMetamodelPackage"
            genModel="model/MDSDComponentMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MDSDComponentMetamodel -->
      <package
            uri="http://www.example.org/SystemIndependant"
            class="MDSDComponentMetamodel.SystemIndependant.SystemIndependantPackage"
            genModel="model/MDSDComponentMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MDSDComponentMetamodel -->
      <package
            uri="http://www.example.org/SystemDependant"
            class="MDSDComponentMetamodel.SystemDependant.SystemDependantPackage"
            genModel="model/MDSDComponentMetamodel.genmodel"/>
   </extension>

</plugin>
